# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea/
auction-system
hr_conf.json
tmp/
addAuctionReq.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/


.idea/
	addAuctionReq.json
	auction-system
	hr_conf.json
	tmp/
